#app{
  overflow: auto;
  display: flex;
  flex-direction: column;
}

main{
  order: 2;
  overflow: auto;
  padding: 1.5rem;

  & .main-container{
    max-width: 33rem;
    margin-left: auto;
  }
  & .back{
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-bottom: 1.5rem;
  }
  & h1{
    font: 600 1.5rem/1.25 var(--font-family);
    margin-bottom: .5rem;
  }
}

aside{
  order: 1;
  background-color: var(--surface-secondary);
  padding: 1.5rem;

  & .aside-container{
    max-width: 31rem;
    & header{
      text-align: center;
    }
    & > img{
      margin-top: 0.75rem;
    }
  }
}


@media (width >= 80em){
  #app{
    display: grid;
    grid-template-columns: 51.25% 48.75%;
    height: 100vh;
    overflow: hidden;
  }
  main{
    order: 1;
    padding: 4rem;
  }
  aside{
    order: 2;
    padding: 4rem;
    & .aside-container{
      & header{
        text-align: start;
      }
      & > img{
        margin-top: 2rem;
      }
    }
    & h2{
      font: 600 2.5rem/1.25 var(--font-family);
      margin-bottom: .5rem;
      & span{
        color: var(--text-highlight);
      }
    }
  }
}